[2017-07-01 10:04] faustinoaq opened #3 "Support for darwin"
@akzhan I added your binary, but I don't know if my [crystalMain.ts](https://github.com/faustinoaq/vscode-crystal-lang/blob/master/src/crystalMain.ts) is well configured to support this.

Can you confirm me that this extension work with the darwin binary?

The branch is https://github.com/faustinoaq/vscode-crystal-lang/tree/darwin-scry-support

BTW, thanks you!

[2017-07-01 11:18] akzhan commented on #3
I didnt install extensions by hands :) will do but later (2-24h).

[2017-07-01 15:54] faustinoaq commented on #3
@akzhan thanks you!

Please before do this:
`git pull` and recompile Scry, I added some fixes to formatting support in the tast commit, see https://github.com/faustinoaq/scry/commit/49012845ae63e74ec682bf698ff9170547aeaa24

[2017-07-04 16:53] akzhan commented on #3
Sorry for delay, just learned about extensions. Update package version to something high to turn off autoupdate and run extension.

Got

[code]

[2017-07-05 00:57] faustinoaq commented on #3
@akzhan that error is strange, I never seen `Error: No such module: icu` before.

Seems to be related to VSCode insiders version, see: https://github.com/Microsoft/vscode/issues/23639

Are you using VSCode Insider?

If yes, try to install VSCode latest stable version `1.13.0`

[2017-07-21 00:57] faustinoaq commented on #3
Hi !

Now Scry server isn't distributed with this extension.

README message:

Please, see https://github.com/faustinoaq/vscode-crystal-lang/commit/cd116cecc31e17c717a6ee6c5c79eb417aa18dbc and https://github.com/kofno/scry/issues/3#issuecomment-312368919

[2017-07-21 00:57] #3 closed

[2017-07-23 17:23] drujensen opened #4 "Ability to view and debug expanded source code from macros"
The ability to view and debug the expanded source code after macros have been applied.

[2017-07-24 14:57] faustinoaq opened #5 "Crystal tools can't find relative path on macros"
Currently if a macro uses a relative path then this extension can't found it.

See: https://github.com/Amber-Crystal/amber/pull/146

![macro error](https://user-images.githubusercontent.com/3067335/28487560-d2730ab4-6e58-11e7-8472-29c7ce39f60e.png)

[2017-07-29 05:13] Qwerp-Derp opened #7 ""Array(Int32)" in argument highlighted incorrectly"
[code]

The left bracket in `Array(Int32)` is highlighted incorrectly:

![screen shot 2017-07-29 at 3 11 07 pm](https://user-images.githubusercontent.com/14177193/28742348-78ef1f28-7470-11e7-8094-5cd0fa449ea1.png)

[2017-07-29 05:36] Qwerp-Derp opened #8 "Support highlighting of lambda params?"
Support highlighting of this:

    [1, 2, 3].map { |a| a + 1 }

The `a` in `|a|` should be highlighted as a parameter.

[2017-07-29 09:01] faustinoaq commented on #8
It depends of theme, my extension already have parameter support.

Currently I'm using
https://marketplace.visualstudio.com/items?itemName=faustinoaq.theme-olivine-comments
to
get good crystal highlighting.

[image: Inline image 1]
Notice the blue a in |a|

On Sat, Jul 29, 2017 at 12:36 AM, Hanyuan Li <notifications@github.com>
wrote:

[2017-07-29 09:03] faustinoaq commented on #8
![screenshot_20170729_040047](https://user-images.githubusercontent.com/3067335/28743578-ba81dce0-7412-11e7-812b-1335bf303418.png)

Notice the blue a in |a|

[2017-07-29 09:14] Qwerp-Derp commented on #8
Shouldn't it be highlighted in the same way as a parameter, though?

[2017-07-29 09:17] faustinoaq commented on #8
Unless I change [this line](https://github.com/faustinoaq/vscode-crystal-lang/blob/master/syntaxes/crystal.json#L1329) to Ruby, VSCode themes does't recognize the crystal delimiter.

[code]

[2017-07-29 09:22] faustinoaq commented on #7
Yes, is a crystal issue mainly, the same happens on other editors. Almost all syntax plugins are based on [this tmLanguage](https://github.com/crystal-lang/sublime-crystal/blob/master/Crystal.tmLanguage).

I did a [theme](https://marketplace.visualstudio.com/items?itemName=faustinoaq.theme-olivine-comments) as workaround for this issue:

![screenshot_20170729_042015](https://user-images.githubuser

[2017-07-29 11:44] faustinoaq commented on #8
@Qwerp-Derp I found the issue the Crystal syntax `.tmLanguage` don't have any rules to parameters with types. As far I can I changed the `endCapture` to get all parameters using:

[code]

Also I found a lot of dirty code when I converted `.tmLanguage` to `.json`

I'll do a PR fixing this issue.

Internally related to #7

[2017-07-29 11:52] faustinoaq commented on #7
Thanks you for find this issue, also I found that other parameters coloring is broken.

![screenshot_20170729_065000](https://user-images.githubusercontent.com/3067335/28744626-589d3cbe-742a-11e7-9bda-1fe815d043bd.png)

[2017-07-29 11:53] faustinoaq commented on #7
@Qwerp-Derp I found the issue. The Crystal syntax `.tmLanguage` don't have any rules to parameters with types. As far I can I changed the `endCapture` to get all parameters using:

[code]

[2017-07-29 12:06] #7 closed

[2017-07-29 12:08] faustinoaq commented on #8
Fixed on #9

[2017-07-29 12:08] #8 closed

[2017-07-31 15:05] faustinoaq commented on #5
Fixed!

[2017-07-31 15:05] #5 closed

[2017-08-05 06:54] idchlife opened #12 "Manual how to use with scry?"
I cloned scry repo, build scry executable from src/scry and wrote path to this executable in settings (for scry binary)

But it seems that server does not work.

Am I doing it wrong?

[2017-08-05 11:33] faustinoaq commented on #12
Scry is experimental. but should works well.

Can you show me your `settings.json`?

You can ensure that scry works opening a new tab as an Untitled Crystal document and then writing some code, you should notice the syntax errors are detected, because Scry have live Diagnostics.

![screenshot_20170805_062844](https://user-images.githubusercontent.com/3067335/28995174-55cd7382-79a7-11e7-8c4b-d73de7

[2017-08-05 11:43] idchlife commented on #12
@faustinoaq I recorder the video me checking it out https://monosnap.com/file/PwKIcY9otrJz7ccoJkmNcWbWl1rCdO

Thanks for helping with this one out!

[2017-08-05 11:46] idchlife commented on #12
Woooooow.... I used path to directory, executable is in upper dir.

It seems my mistake.

Server started but with error:

![image](https://user-images.githubusercontent.com/4563032/28995241-e01a3864-79ec-11e7-8b6f-7036aaeab709.png)

[2017-08-05 12:00] idchlife commented on #12
I fixed it. Guess problem with scry config or something, it writes to /.scry.out path, thinking Dir.current is /

Thanks!

[2017-08-05 12:00] #12 closed

[2017-08-09 03:12] doughsay commented on #12
@idchlife how did you fix that error?  I'm getting the same error now too...

![image](https://user-images.githubusercontent.com/221693/29103676-eda577d8-7c75-11e7-8270-90ddb635116a.png)

[2017-08-09 03:39] doughsay opened #14 "scry server crashes if vscode is launched from Spotlight on macOS, but not if launched from shell"
This happens when scry attempts to create and write to `.scry.out`.  If vscode is launched from Spotlight or Finder on macOS, the "PWD" is apparently set to `/`, so scry tries creating and writing to `/.scry.out`:

![image](https://user-images.githubusercontent.com/221693/29104235-1fcd4198-7c79-11e7-8fb7-fc3f4bc7af58.png)

If I launch vscode from my shell (i.e. `code .`), it inherits the PWD corre

[2017-08-09 03:49] idchlife commented on #12
Added .scry.out file into / with read write rights :D

On Wed, 9 Aug 2017 at 06:12, Chris Dosé <notifications@github.com> wrote:

[2017-08-09 03:58] doughsay commented on #12
lol! hilarious...

[2017-08-09 03:59] doughsay commented on #12
@idchlife see this issue I just opened: https://github.com/faustinoaq/vscode-crystal-lang/issues/14

If you launch vscode from shell using the `code` helper, it works.

[2017-08-09 08:34] faustinoaq opened #15 "while requiring "prelude": can't find file 'prelude'"
Crystal can't find stdlib.

Seems to be a CRYSTAL_PATH issue

This line is the problem https://github.com/faustinoaq/vscode-crystal-lang/blob/master/src/crystalConfiguration.ts#L18

MacOS output for `crystal env` by @doughsay

[code]

Proposal by @watzon:

[2017-08-09 08:41] #15 closed

[2017-08-09 18:28] doughsay commented on #15
It works now, thanks!

[2017-08-09 18:52] faustinoaq commented on #14
Fixed by https://github.com/kofno/scry/pull/18

[2017-08-09 18:52] #14 closed

[2017-08-09 20:00] watzon commented on #15
Thanks for the mention @faustinoaq . Always good to feel like I've contributed

[2017-09-07 06:48] Qwerp-Derp opened #18 "Extra indentation of def when prefixed with "private""
When I type

[code]

And then press Enter, and then type an end, the plugin dedents the `end` once, so I get this:

[code]

This also occurs with prefixes of `protected`, and cases:

[code]

[2017-09-07 11:58] faustinoaq commented on #18
Hi, I [use the same](https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/src/crystalMain.ts#L15) configuration as [ruby](https://github.com/rubyide/vscode-ruby/blob/master/src/ruby.ts#L17).

So this bug also happens in vscode-ruby and the default ruby support in vscode too.

![Imgur](https://i.imgur.com/wY66iNe.gif)

![Imgur](https://i.imgur.com/bVYcuZo.gif)

As workaround you ca

[2017-09-08 10:57] DeepSpace2 opened #19 "Keep getting "Crystal compiler not found. spawn crystal ENOENT" errors."
Hi. I have Bash on Windows, Crystal and https://github.com/faustinoaq/crystal-windows-installer installed.

My relevant VSCode settings are

[code]

Everything seems to work as expected however I keep getting `Crystal compiler not found. spawn crystal ENOENT` errors. Is there another setting hiding somewhere that needs to be tweaked?

[2017-09-08 13:04] faustinoaq commented on #19
Hi @DeepSpace2

I found the problem, Seems that Node.js backend is not detecting `c:\> crystal` but `c:\>crystal.bat`

So, you need to add `"crystal-lang.compiler": "crystal.bat"` to the settings:

[code]

I could fix this issue by using a `crystal.exe` instead of `crystal.bat` but then antivirus are the problem.

[2017-09-08 13:14] faustinoaq commented on #19
I added an wiki entry about this :point_down:

https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#bashonwindows

[2017-09-08 13:30] DeepSpace2 commented on #19
Awesome! thanks :)

[2017-09-08 13:30] #19 closed

[2017-09-21 21:24] faustinoaq opened #21 "Cannot read property 'slice' of undefined"
This error happens when crystal extension is activated in a workspace without root folder.

Specifically [here](https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/src/crystalUtils.ts#L22)

![screenshot_20170921_162413](https://user-images.githubusercontent.com/3067335/30719477-511f4024-9ee9-11e7-8a84-52287c2d787b.png)

[2017-09-22 01:57] #18 closed

[2017-09-22 02:04] #21 closed

[2017-09-28 01:53] faustinoaq opened #24 "Refactoring crystalSymbols"
Currently the [crystalSymbols.ts](https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/src/crystalSymbols.ts#L15) is really bad implemented, I need to change that 😅

[2017-10-07 09:23] scriptnull opened #25 "Shortcut to navigate to beginning and end of block"
Hi, I am very new to Crystal and I have been barely using it for a week on vs code with this extension.

Good work guys! I would like to suggest some features.

In programming languages, where brackets are used to define the scope, I use `cmd+shift+\` to navigate to the matching bracket.

![go-end-of-block](https://user-images.githubusercontent.com/4211715/31306332-1a7b595c-ab6b-11e7-89ce-0be29371

[2017-10-07 19:13] faustinoaq commented on #25
Hi Thanks you for report this issue!

This problem also happen on VSCode for Ruby, Elixir and other similar languages.

I already published an issue about that on VSCode repo

Please see: https://github.com/Microsoft/vscode/issues/32085

[2017-10-09 08:24] faustinoaq opened #26 "Support wildcard on mainFile"
A good recommendation by @Papierkorb

Also see: https://github.com/crystal-lang-tools/scry/issues/29

[2017-10-20 11:02] Qwerp-Derp opened #28 "Add indentation support for `abstract` keyword"
## Reproduction:

1. Type this into a `.cr` file in VS Code:

[code]

2. Press <kbd>Enter</kbd>, and then type

[code]

## Results:

[code]

The `end` is dedented once, as if the `abstract` nullifies the indentation of `class`.

[2017-10-20 11:41] faustinoaq commented on #28
Hi @Qwerp-Derp I think `abstract` keyword on `def` doesn't need a `end` because you can't write an implementation on `abstract def`:

[code]

Also see: https://crystal-lang.org/docs/syntax_and_semantics/virtual_and_abstract_types.html

[2017-10-21 05:13] Qwerp-Derp commented on #28
Sorry, wrong one - it was meant to be `abstract class Foo` instead. Will fix right now.

[2017-10-21 09:00] faustinoaq commented on #28
![ezgif-5-0c032c2706](https://user-images.githubusercontent.com/3067335/31849476-38a58aea-b608-11e7-8fe1-2beff0c826c2.gif)

Oh, I understand now, https://github.com/crystal-lang-tools/vscode-crystal-lang/pull/29 Fixes this issue :smile:

[2017-10-21 09:05] #28 closed

[2017-10-21 09:13] faustinoaq commented on #28
Done 👍

![ezgif-5-e057e33206](https://user-images.githubusercontent.com/3067335/31850334-d8bb18ee-b615-11e7-98a3-d60681c773c1.gif)

`0.3.6` is published https://marketplace.visualstudio.com/items?itemName=faustinoaq.crystal-lang

[2017-10-24 14:27] faustinoaq opened #30 "Fix syntax highlighting for octal numbers"
![screenshot_20171024_092615](https://user-images.githubusercontent.com/3067335/31948785-631b7f9a-b89d-11e7-9b8e-aa7069bbee38.png)

Compilers says `octal constants should be prefixed with 0o` but still highlighted

[2017-10-25 17:44] faustinoaq commented on #24
Very useful 👉 https://github.com/SuperPaintman/crystal-ctags

Ctags for Crystal by @SuperPaintman

[2017-10-27 13:28] #30 closed

[2017-10-31 01:15] faustinoaq opened #32 "Highlight `?` in method definitions consistently"
![screenshot_20171030_201408](https://user-images.githubusercontent.com/3067335/32203047-e4606e24-bdae-11e7-958b-1fb7afd3f15c.png)

see: https://github.com/crystal-lang-tools/sublime-crystal/issues/29

[2017-11-01 05:27] stern0 opened #33 "Crystal compiler not found. Some features can throw errors"
I have installed crystal with homebrew and the compiler is in the path below:
```/usr/local/Cellar/crystal-lang/0.23.1_3/src/compiler/crystal```

But keep getting the this error:
```Crystal compiler not found. Some features can throw errors```

[2017-11-01 10:38] faustinoaq commented on #33
Try:

[code]

Also check the Wiki https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#compiler

[2017-11-02 22:46] cryst10 commented on #33
@faustinoaq it's the same I had

[2017-11-03 08:23] faustinoaq commented on #33
Then you can try setting `"crystal-lang.compiler": "crystal"` and be sure `crystal` command is accessible like other user common programs.

Maybe `ln -s "/usr/local/Cellar/crystal-lang/0.23.1_3/src/compiler/crystal" /usr/bin/crystal` ?

[2017-11-07 23:17] hanyuone opened #34 "Add support functions to syntax highlighting"
*See [Ruby's highlighting](https://github.com/rubyide/vscode-ruby/blob/master/syntaxes/ruby.tmLanguage#L3004) for more details.*

Built-in functions in Crystal for objects and such, like `.not_nil!` and `push`, should be highlighted using `support.function.core.crystal`.

This can't be directly copied and pasted, since there is a sizeable difference between the two languages in terms of built-in f

[2017-11-07 23:21] Qwerp-Derp opened #35 "Add support for interpolated strings to syntax highlighting"
In something like

[code]

the `1` and `2` should be highlighted as integers, and the `+` should be highlighted as an operator. The `#{}` may be optionally highlighted.

[2017-11-08 10:51] faustinoaq commented on #34
Yeah, Actually this extension is using [crystal.json](https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/snippets/crystal.json) generated from [crystal.tmLanguage](https://github.com/crystal-lang-tools/sublime-crystal/blob/master/Crystal.tmLanguage). So if we can improve the syntax highlighting on VSCode, we can improve Sublime as well.

[2017-11-08 10:55] faustinoaq commented on #35
![screenshot_20171108_055245](https://user-images.githubusercontent.com/3067335/32545233-0bf30d02-c449-11e7-8985-d02ab030f393.png)

`theme dark+ | vscode 1.17.2`

What VSCode version are you using?

I'm using `1.17.2` and the interpolation highlight on default themes works well.

The only thing is not highlighted is the operator :)

[2017-11-08 22:23] #33 closed

[2017-11-09 00:06] Qwerp-Derp commented on #35
Sorry, I was using a different colour scheme, will close the issue. It works fine on Atom One Dark for VSCode.

[2017-11-09 00:06] #35 closed

[2017-11-15 15:57] faustinoaq opened #38 "Loading.. bug trying to hover an diagnostic"
![ezgif-5-21c2606e13](https://user-images.githubusercontent.com/3067335/32845830-c79b1bda-c9f3-11e7-8ac9-35c9d837a13a.gif)

[2017-11-15 16:00] #38 closed

[2017-11-15 17:09] faustinoaq opened #40 "Add some tests and Travis CI"
Currently this repository doesn't have unit test nor Travis integration

[2017-11-15 18:08] #40 closed

[2017-12-13 19:55] paulcsmith opened #42 "Add support for Jump to Definition"
I'm loving the plugin so far. It would be wonderful if it could also support Jump to Definition so I could jump to a class or method definition in the project.

Thanks for the project, and thanks for considering this feature.

[2017-12-13 21:36] faustinoaq commented on #42
@paulcsmith Thank for your comment!

Go to Definition already work just methods. Modules or clases doesn't work due crystal doesn't support it yet. See https://github.com/crystal-lang/crystal/issues/4941

_Still a bit unstable, sometimes doesn't work_ ⚠️

You can enable go to method definition using:

[code]

https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#implementations

[2018-01-12 22:29] Dillybob1992 opened #43 "Crystal compiler not found. spawn"
Hey! Awesome extension! Having a bit of trouble getting the crystal compiler to work

I set my user settings to:

[code]

However, i'm getting `Crystal compiler not found. spawn "C:/Users/Administrator/Desktop/bash.exe" & crystal ENOENT`

I'm not sure if there is a guide anywhere, but how exactly do we "link" to our crystal compiler since we're using the Unix Subsystem?

[2018-01-12 22:44] Dillybob1992 commented on #43
Aww, so I just saw this tutorial:

https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings

Changed setting to
[code]
Restarted VSCode. However, now no error shows, and the formatting doesn't change

[2018-01-12 22:44] Dillybob1992 commented on #43
Looks like in Visual Studio code the formatting doesn't happen on CTRL+S, you have to right click -> Format. But it works, didn't see that guide at the bottom

[2018-01-12 22:44] #43 closed

[2018-01-12 23:52] faustinoaq commented on #43
Hi @Dillybob1992, Thanks for try this extension!, we have some basic features but there is [a lot of work to do](https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Roadmap) yet

VSCode doesn't have format-on-save activated by default, you need to enable it using:

[code]

[2018-01-16 02:31] ghost opened #44 "forall seems to break syntax"
Example:

<img width="398" alt="screen shot 2018-01-16 at 00 29 36" src="https://user-images.githubusercontent.com/5178184/34969120-5bae122e-fa54-11e7-8180-c37d1a4eac27.png">

Looks like it's somehow related to the parentheses? Wrapping the return value in parens "fixes" it:

<img width="360" alt="screen shot 2018-01-16 at 00 30 19" src="https://user-images.githubusercontent.com/5178184/34969144-7

[2018-01-17 17:15] faustinoaq commented on #44
Good catch!

I think this issue is related to https://github.com/crystal-lang-tools/vscode-crystal-lang/pull/9

BTW, Do you know if sublime text have this issue?

[2018-01-20 05:27] Qwerp-Derp commented on #34
Bump @faustinoaq: any updates?

[2018-01-20 06:04] faustinoaq commented on #34
Hi @Qwerp-Derp not yet 😅 I have been facing some issues with crystal syntax, looks like some [keywords just broke the highlighting](https://github.com/crystal-lang-tools/vscode-crystal-lang/issues/44).

[2018-01-21 18:19] faustinoaq opened #45 "Testing new profiling feature"
- Extension Name: crystal-lang
- Extension Version: 0.3.9
- OS Version: Linux x64 4.14.14-1-MANJARO
- VSCode version: 1.19.0

 We have written the needed data into your clipboard. Please paste:

[code]

[2018-01-21 18:19] faustinoaq commented on #45
Awesome! 🎉

[2018-01-21 18:19] #45 closed

[2018-02-08 03:55] faustinoaq opened #47 "Code diagnostic is not working"
- Extension Name: vscode-crystal-lang
- Extension Version: 0.3.9
- OS Version: Linux x64 4.14.16-1-MANJARO
- VSCode version: 1.20.0
- Crystal version: 0.24.1

Currently vscode-crystal-lang doesn't detect problems neither syntax or build

![vokoscreen-2018-02-07_22-53-28](https://user-images.githubusercontent.com/3067335/35954832-f28d8f3c-0c59-11e8-84a1-a708d6701f22.gif)

[2018-02-08 04:39] #47 closed

[2018-03-20 18:30] Proximyst commented on #44
I would like to add how this works fine:
[code]

![picture of proof in the editor](https://my-owo-was.banned.today/863009.png)

This however only cursives the method in question instead of everything:
[code]
[!picture of proof in the editor](https://owo.whats-th.is/646813.png)

[2018-03-20 21:35] Proximyst commented on #44
The fact there are no issues on it so far indicates it most likely isn't there. You could however try to type out the snippet yourself.

I by the way found out why the `inner!` method had cursive, and that's as the `initialize` method uses `forall` as well, but is an empty method.
[code]

[2018-03-29 07:19] Qwerp-Derp opened #49 "Keyword `out` is not highlighted"
`out` is a keyword used for C bindings, when a variable is passed to a function and then its value is filled. It currently isn't supported in VSCode Crystal:

![screen shot 2018-03-29 at 6 19 28 pm](https://user-images.githubusercontent.com/14177193/38075319-b1e93d1e-337d-11e8-804c-0dbbb0ef7e62.png)

[code]

In the above example, the `out` should be highlighted.

[2018-03-29 18:53] #49 closed

[2018-04-06 17:21] faustinoaq opened #51 "Replace json syntax files by tmLanguage used on Sublime Text package"
Hi community, I have ben busy latest weeks, I hope I can pull some commits this weekend

I'm maintaining the `crystal-syntax.json` file responsible of syntax highlighting, but there is some issues I don't really know how to fix, so I think if VSCode have out-the-box support for `.tmLanguage` then would be a nice idea to use it

![screenshot_20180406_122031](https://user-images.githubusercontent.co

[2018-04-06 17:27] keplersj commented on #51
Atom cannot use `tmLanguage` files, it converts them to a similar JSON format.  See [Creating a Grammar](https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/) in the [Atom Flight Manual](https://flight-manual.atom.io/).

However if you were to maintain the JSON formatted grammar in https://github.com/crystal-lang-tools/language-crystal, and create a pipeline to build to `tmLangu

[2018-04-06 17:28] faustinoaq commented on #26
I'm working on something to fix this (at LSP side), I'll publish something very soon :smile:

[2018-04-06 22:55] faustinoaq opened #52 "Add ECR debugging"
I just seen this: https://blogs.msdn.microsoft.com/pythonengineering/2018/03/29/python-in-visual-studio-code-march-2018-release/

So would be nice to debug ECR templates like python/django does:

![debugging](https://msdnshared.blob.core.windows.net/media/2018/03/2_DjangoTemplate2.png)

Although, Some investigation will be required to implement this on a compiled language like crystal

[2018-05-17 08:46] faustinoaq commented on #44
So, I think I gonna replace my custom [crystal.json](https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/syntaxes/crystal.json) syntax by official [TextMate Crystal.tmLanguage](https://github.com/crystal-lang-tools/Crystal.tmbundle/blob/master/Syntaxes/Crystal.tmLanguage) or Sublime [Crystal.tmLanguage](https://github.com/crystal-lang-tools/sublime-crystal/blob/master/Crystal.tmL

[2018-05-17 09:27] faustinoaq commented on #44
![screenshot_20180517_042606](https://user-images.githubusercontent.com/3067335/40168938-6bd48eb8-598a-11e8-83be-2d6a9cc4f389.png)

Looks like is working fine with  [TextMate Crystal.tmLanguage](https://github.com/crystal-lang-tools/Crystal.tmbundle/blob/master/Syntaxes/Crystal.tmLanguage) :tada:

Will be available on next release :wink:

[2018-05-17 09:31] faustinoaq commented on #34
I gonna use official [TextMate Crystal.tmLanguage](https://github.com/crystal-lang-tools/Crystal.tmbundle/blob/master/Syntaxes/Crystal.tmLanguage), although, seems that tmLanguage doesn't highlight those methods either :sweat_smile:

Anyway, a new syntax file Will be available on next release :wink:

[2018-05-17 10:43] faustinoaq commented on #32
![screenshot_20180517_054225](https://user-images.githubusercontent.com/3067335/40172708-14d19a06-5995-11e8-9e80-b0c9f95fa81d.png)

Fixed using custom [tmLanguage](https://github.com/crystal-lang-tools/Crystal.tmbundle) bundle :tada:

[2018-06-11 18:10] Proximyst commented on #44
That looks great. Thanks for the look into the issue ^^

[2018-06-14 07:32] fgimian opened #56 "Crystal support in Markdown code blocks"
Hey Faustino, hope life is treating you well 😄

It's possible to inject a code block configuration for Markdown files using the methods shown at https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example

At the moment, Crystal code blocks are not syntax highlighted in Markdown files.

Would you consider incorporating this into your extension?

Thanks!
Fotis

[2018-06-14 07:45] fgimian commented on #56
I've just got this working so I'll send a pull request soon when I test it more buddy 😄

[2018-06-15 04:00] icyleaf opened #58 "Suggest: ignore path with scry server"
I installed [local-history](https://marketplace.visualstudio.com/items?itemName=xyz.local-history) extension and enable scry, it always display error anytime with files in `${workspaceFolder}/.history/` path.

[code]

cr file:
[code]

May add a new setting to ignore path or ignore in code?

[2018-07-08 02:15] cocodrino opened #61 "scry shows error but seems that autocompletion fails"
Hi...good day, first thank you for this project and scry, seems really promising, my issue is that seems scry can find the issues in my code but if I try autocomplete not show any completition

my config is
[code]

if I change in amber a code like this
[code]

would be possible fix the autocomplete system??? thank you so much!!!

[2018-07-08 20:23] faustinoaq commented on #61
Hi @cocodrino Scry auto-complete is still work in progress, please see: https://github.com/crystal-lang-tools/scry/issues/66

[2018-07-08 23:04] cocodrino commented on #61
oh that is sad...well I've suscribed to [that](https://github.com/crystal-lang-tools/scry/issues/66) for get informed when it'll be available, hope this will be soon :sob:  ...thank you...

[2018-07-08 23:04] #61 closed

[2018-07-15 23:51] 98-f355-f1 opened #62 "Where is compiler path?"
I am using Linux Debian on Windows WSL.
I use VS Code and have got crystal, dependencies and LLVM compiler installed, it works on the flagship, Hello World!.

I have now installed this extension, but cant figure out where the compiler path goes for the llvm.
I put in the example, "crystal-lang.compiler": "/usr/bin/crystal/bin", clearly this is not the compiler path...

Since the wsl kind of discre

[2018-07-16 09:59] faustinoaq commented on #62
Hi @98-f355-f1 Thanks you for using Crystal, this extension is still a big work in progress :wink:

On WSL you need a bat script to execute crystal via `bash.exe`, please see wiki: https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#bashonwindows

[2018-07-16 18:19] 98-f355-f1 commented on #62
I'll check it out.  I can use Crystal perfectly well with Debian bash and VSC, it's just those pesky error messages in code that is a nuisance, and have been playing around a bit.  I was able to convert some number crunching functions from Ruby to Crystal with a little effort... as I was learning about the strict type system.  Since I needed a big number, I found the BigInt type... works great, bu

[2018-07-16 18:55] 98-f355-f1 commented on #62
BTW, is this the compiler???

I copied the whole path from my windows C: all the way into the Debian WSL file system and ends at the "user path" \src\compiler\crystal\crystal.cr ..... this seems to have killed the warning and error messages, is the right file?
Or is it in the next folder of crystal at ...\crystal\ where this is compiler_path.cr, compiler.cr ??

Although, I got a weird popup when I

[2018-07-20 18:45] 98-f355-f1 commented on #62
@faustinoaq
I think that I missed this part:

**On WSL you need a bat script to execute crystal via bash.exe, please see wiki: https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#bashonwindows**

I just installed Crystal from the Linux tarballs...  I will install and let you know if it all worked.

[2018-07-21 14:50] 98-f355-f1 commented on #62
Error messages resolved

Great 👍

Issue closed

[2018-07-21 14:50] #62 closed

[2018-08-17 09:26] TsumiNa opened #63 "Crystal compiler not found after upgrade vscode to 1.26.0"
Microsoft/vscode#56659

Hi! I got some issue when use this extension in vscode 1.26.0 or higher.
My crystal version is 0.26.0

[2018-08-21 03:43] hanyuone opened #64 "Add "endwise" functionality?"
There's a package [`endwise`](https://github.com/kaiwood/vscode-endwise) on the VSCode marketplace that automatically adds an `end` to every block. Should this functionality also be implemented within this plugin?

[2018-09-08 00:07] dawkot opened #65 "Cannot initialize instance variables and class variables ending with a question mark"
[code]

[2018-09-08 16:04] #65 closed

[2018-09-19 18:39] mrkaspa opened #66 "Support crystal tools format"
I have instaled crystal 0.26 but it does not support crystal formatting built in tool, I have it but it is not working

[2018-09-26 16:46] girng opened #67 "[suggestion] possible indentation with case blocks"
hello @faustinoaq  and others, long time no see!

i just noticed this because the code looks so out of place compared to everything else that is indented lol

but i made a screenshot to show the comparison
![image](https://user-images.githubusercontent.com/36117592/46095212-d773f980-c170-11e8-86a2-6fb88ece6b2f.png)

for example, we have ` loop do` and `if xxxx ` all indented. but when it comes to

[2018-10-16 16:26] Heaven31415 opened #68 "Add support for annotations"
This [PR](https://github.com/crystal-lang/crystal/pull/6063) introduced user-defined annotations. Right now it's legal to write something like that:

[code]

However **vscode-crystal-lang** implementation doesn't cover that. For example there is no syntax highlighting or anything else that may be required (it's not supported even on github).

[2018-10-16 21:39] Heaven31415 opened #69 "Invalid type names in crystalCompletionData.ts"
If you go here: [link](https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/8e2ed71f76417eec11533764981b2063469342f7/src/crystalCompletionData.ts#L991) you can see that lines from 991 to 994 are using invalid unsigned integer type names. For example instead of **UInt16** there is **Uint16**.

[2018-10-16 23:04] Heaven31415 opened #70 "Problem with syntax highlighting"
As it's easy to see in the screenshot, word **type** has wrong colour. It's treated as if it were a keyword, not a regular variable/parameter name.

![invalid_hightlighting](https://user-images.githubusercontent.com/16988850/47052335-1c0b1780-d1a8-11e8-825e-5b2754d5a34b.png)

[2018-10-27 12:40] hello2dj opened #71 "use VSCode 1.28.1 debugging it, Error: Command failed: crystal env"
#### VSCode version: 1.28.2
#### vscode-crystal-lang branch: master
#### OS：OSX 10.13.4

![vscrystal](https://user-images.githubusercontent.com/10645383/47604126-c0525100-da27-11e8-85a8-8717dbe2c67d.png)

cause the below code
[code]
when i use
[code]
it will be ok, now i don't know why, cause when i try above code in NODE, it's ok.  who can help me?

I love crystal!!! I create a pr even though I d

[2018-10-31 01:07] #71 closed

[2018-10-31 12:29] faustinoaq commented on #69
Yeah, `crystalCompletionData.ts` was a workaround to get basic completion working, I need to refactor some things and implement Scry :sweat_smile: https://github.com/crystal-lang-tools/scry/issues/66

[2018-11-12 12:07] hello2dj commented on #71
no, i found another question, not solve it

[2018-11-28 11:28] baelter opened #74 "Error requiring stdlib"
macOS 10.14.1 (18B75)

[code]

[code]

[code]

[code]

Settings:

[code]

Error:
[code]

[2018-12-08 12:47] icyleaf commented on #70
It fixed in #76

[2018-12-10 16:33] faustinoaq commented on #74
@baelter Thank you for report this, I'll try to reproduce it :+1:

Have you tried scry as well? :sweat_smile: See: https://github.com/crystal-lang-tools/scry/ and https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#server

[2018-12-13 10:49] baelter commented on #74
No yet. But I will if that is what's getting most developer attention.

[2019-01-22 02:25] matthewmcgarvey opened #79 "Scry crashes if workspace not loaded with .cr file"
Scry will work if the workspace is opened with a crystal file in the editor already, but if there is no file in the editor or it is not a crystal file, scry will crash once a crystal file is opened and this extension loads.  I can not get the error message from the scry process.  This failure happens with both master and the release of this extension and using the master branch of scry.  This is p

[2019-02-06 14:02] iambudi opened #80 "Code Formatting behave strangely"
After upgrading crystal language to 0.27.1 and 0.27.2, code formatting replace all the entire code in a file with `"Error: Invalid option: -f"`.

[2019-02-07 01:21] faustinoaq commented on #80
Oh, I just realize crystal has removed some flags :sweat_smile:

[2019-02-07 04:20] faustinoaq commented on #79
I think this is an issue in Scry, I'm working on migrating this extension to use scry by default, so lets keep this issue open until I figure out the solution.

Thank you for report it :+1:

[2019-02-07 04:21] faustinoaq commented on #74
Hi @baelter Do you still have this issue? I'm trying to reproduce it :sweat_smile:

[2019-02-07 04:22] faustinoaq commented on #70
Hi @Heaven31415 Sorry for late reply, I already merged @icyleaf PR, new version is comming :sweat_smile:

[2019-02-07 04:22] #70 closed

[2019-02-07 04:25] faustinoaq commented on #68
Fixed by #76

[2019-02-07 04:25] #68 closed

[2019-02-07 04:30] faustinoaq commented on #66
Hi @mrkaspa

Currently formatting is failing because some changes in crystal itself, see #80

I'm working on a quick fix, also future major version will use [Scry](https://github.com/crystal-lang-tools/scry/) :+1:

[2019-02-07 04:30] #66 closed

[2019-02-07 04:32] faustinoaq commented on #44
next minor version 0.3.11 (available soon on vscode marketplace) fixes this (thanks to @icyleaf)

[2019-02-07 04:32] #44 closed

[2019-02-07 04:33] faustinoaq commented on #63
Hi @TsumiNa, Do you still have this issue?

[2019-02-07 04:36] faustinoaq commented on #64
Hi @Qwerp-Derp , Nice functionality, I think we can add this to https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Useful-extensions :+1:

Feel free to edit it, is like wikipedia :wink:

[2019-02-07 04:36] #69 closed

[2019-02-07 05:04] faustinoaq commented on #80
Hi new version here https://github.com/crystal-lang-tools/vscode-crystal-lang/releases/tag/v0.3.11 (includes quickfix for this issue :wink: )

[2019-02-07 05:04] #80 closed

[2019-02-07 06:59] faustinoaq commented on #64
Oh, I just realize endwise only support Ruby :sweat_smile:

[2019-02-07 07:06] faustinoaq commented on #64
Please check https://github.com/kaiwood/vscode-endwise/pull/20 :wink:

[2019-02-07 19:23] baelter opened #84 "Whole buffer replaced with syntax error"
In this installation:
[code]

The entire buffer is replaced with any syntax error.

E.g.

[code]

[code]

[2019-02-08 16:55] faustinoaq commented on #84
Oh, I can confirm this bug, Thank you for report it :+1:

[2019-02-09 09:36] 73616c74 opened #86 "Crystal compiler not found. Some features can throw errors."
## Description
I tested all possible paths (e.g. default, which, brew, #33).
But still shows that the compiler path was not found.
I tested some crystal versions (e.g. 0.27.0, 0.27.1, 0.27.2).
Crystal compiler not found related issues: #19 #33 #62 #63.

## Already Tested

* Default
[code]

[code]

* Which
[code]

[code]

* HomeBrew
[code]

[code]

* Issue

[code]

[code]

## Version Info
[code]

#

[2019-02-09 13:51] faustinoaq commented on #86
Hi @73616c74 Thank you for report this issue!

I think something is wrong with this:

https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/69a19b3f313ea2db7e7edf1fca9c3f27737bad36/src/crystalUtils.ts#L38-L40

Let me try to fix it! :+1:

[2019-02-09 14:24] faustinoaq commented on #86
@73616c74 Please try this:

[crystal-lang-0.3.15.pre-alpha.zip](https://github.com/crystal-lang-tools/vscode-crystal-lang/files/2847881/crystal-lang-0.3.15.pre-alpha.zip)

[code]

I changed `execSync` by `spawn`, please try this :point_up: and let me know if the error is still there.

Tested on WSL and Linux

[2019-02-09 14:42] 73616c74 commented on #86
@faustinoaq Thanks, Now it won't go wrong,
But the plugin feature does not work.
<img width="319" alt="2019-02-09 22 40 13" src="https://user-images.githubusercontent.com/46258870/52522107-d2e15500-2cbb-11e9-884e-a4476fa7b783.png">

[2019-02-09 14:45] 73616c74 commented on #86
<img width="1440" alt="2019-02-09 22 44 42" src="https://user-images.githubusercontent.com/46258870/52522155-5ac75f00-2cbc-11e9-8c25-7a2e8996611f.png">

[2019-02-09 17:19] faustinoaq commented on #86
Ok, Can you share your `settings.json`?

[2019-02-09 17:20] faustinoaq commented on #86
Is `Format Document` available in your context menu?

[2019-02-09 17:23] 73616c74 commented on #86
---

---
[code]
---

---

* Yes, it exists

---

[2019-02-09 17:27] 73616c74 commented on #86
@faustinoaq Click on Format Document and a tilde prompt will appear.

[2019-02-09 17:32] faustinoaq commented on #86
What do you mean by tilde prompt?, Do you have a screencapture? :sweat_smile:

Mine looks like this:

![image](https://user-images.githubusercontent.com/3067335/52524035-51130c80-2c66-11e9-808d-da58041e45d3.png)

Also try to add this to your settings.json:

[code]

Please be aware most of them are experimental, see https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings to get some

[2019-02-09 17:44] 73616c74 commented on #86
tilde prompt => Just like your screenshot.
@faustinoaq Thanks, After adding your configuration,
Some features are starting to work,
But syntax errors are not automatically detected
(Need to manually click on Format Document)

[2019-02-09 18:07] faustinoaq commented on #86
Yeah, two ways:

Easy one. You need to enable auto save, format on save, and format on type:

[code]

Advanced one. Try [Scry](https://github.com/crystal-lang-tools/scry/), it supports errors ontype and other cool experimental stuff:

[code]

Then setup scry on VSCode:

[code]

![image](https://user-images.githubusercontent.com/3067335/52524491-82420b80-2c6b-11e9-9277-994c0ad54f05.png)

BTW, Looki

[2019-02-09 18:15] 73616c74 commented on #86
---

* 👍
---

* Perfect solution, thank you! 🙏
---

[2019-02-09 18:15] #86 closed

[2019-02-09 18:16] faustinoaq commented on #86
Yep, `STDLIB` directory is not being detected at all, so, most Node.js based features don't gonna work.

Seems many things have changed on latest vscode API :sweat_smile:

Yeah, looks like scry is the way to go :100:

[2019-02-14 19:49] girng opened #87 "why vscode update my crystal lang extension without my permission?"
now all the variables inside my methods are light blue, not white

i do not like this and never asked vscode to update to the latest version :/

is it possible for me to change this? i mean everything was working just fine for nearly a year, it was perfect! 😿 😭

[2019-02-15 14:29] faustinoaq commented on #87
Hi @girng You can disable it on `settings.json`:

[code]

Yeah, I'm working on a new syntax file, based on sublime-crystal one :sweat_smile:

BTW, you can install any version of vscode-crystal-lang if you want:

![image](https://user-images.githubusercontent.com/3067335/52862763-03821e00-3104-11e9-8a0f-92069ad1ea1b.png)

![image](https://user-images.githubusercontent.com/3067335/52862800-201e5600-

[2019-02-15 16:31] girng commented on #87
yeah, when i click on install previous version the top bar just fades in and out really fast (issue with vscode probably). i made an issue in their repo.  thanks for the help

[2019-02-15 16:33] girng commented on #87
and really @faustinoaq i love your plugin.. not an issue with the plugin itself really, just i hate change lol. i have so much crystal code already and when i see new colors it just makes me more confused. i prob just have to get used to it.

[2019-02-28 15:53] baelter commented on #84
Still happens in `0.3.14` in rare cases with missing `end`. Could not boil it down to a minimal example though :/

[2019-03-08 15:02] Pyroglyph opened #88 "Why do we need crystal-windows-installer when WSL can be enabled by changing one line?"
You mention [here in the wiki](https://github.com/crystal-lang-tools/vscode-crystal-lang/wiki/Settings#bashonwindows) that in order to use WSL with this extension we need to install the crystal-windows-installer package (which requires WSL to work anyway), but I've found that isn't the case at all.

If `shell: "bash"` is added to `spawnOptions` in [this file](https://github.com/crystal-lang-tools/

[2019-03-09 04:40] faustinoaq commented on #88
Hi @Pyroglyph Thank you for this issue!

Great idea, I haven't tried that, let me test it! :+1:

[2019-03-09 04:45] faustinoaq commented on #84
yeah, This still happens when `crystal tool format` throws another message like a bug report or similar. I'm working on a new backend for this extension, with new features and less bugs. I hope to get it soon :+1:

[2019-03-29 17:47] bcardiff commented on #84
I also experienced this and was worried if it was on the formatter side or in the extension.

Also, when using a custom crystal build the first line in the buffer ends up being: `Using compiled compiler at .build/crystal`. Maybe is something to have in mind during the refactor. :-)

[2019-04-03 18:30] faustinoaq commented on #84
Hi @bcardiff

Thank you for your comment.

Yeah, current Node.js backend has some pitfalls, currently I'm using experimental Scry server  while working on a new backend for this extension, I need to sync my work with github, though :sweat_smile:

I'm using this branch https://github.com/crystal-lang-tools/scry/tree/fa/work-in-progress

Also here is my currently working source code of scry:

[scry.

[2019-04-03 18:34] faustinoaq commented on #84
Formatting feature inside Scry should work like a charm, 'cause it doesn't uses command line, so no warning messages or other formatting errors can be included in formatted code.

https://github.com/crystal-lang-tools/scry/blob/6a8ff983b0cb140b90be4f9992c007a3b86715a8/src/scry/formatter.cr#L16-L32

[2019-04-20 21:10] dkniffin opened #91 "undefined constant Lucky::Env"
I just started with Crystal (coming from Ruby) and spun up a new [Lucky](https://luckyframework.org/) app. I don't think I've changed anything yet. But when I open my `database.cr` file, I'm getting this error reported in VSCode:

[code]

I think this is just showing up in VSCode, because when I start the project up, it runs fine. That said, I'm not 100% sure if this is the right project to report

[2019-04-21 14:01] faustinoaq commented on #91
Hi @dkniffin, Thank you for open this issue!

Yeah, this error is shown because vscode-crystal-lang can't figure out the scope of this file.

I'm working in a new version of this extension, so I can fix these kind of issues :sweat_smile:

BTW, for now, you can try to set `crystal-lang.problems: "syntax"` in your `settings.json` file, see: https://github.com/crystal-lang-tools/vscode-crystal-lang/w

[2019-05-29 19:02] Proximyst commented on #32
Shouldn't this be closed? @faustinoaq

[2019-06-09 19:12] watzon commented on #63
I'm having this issue on Debian with Code 1.35. I'm using asdf version manager to install crystal, but I did try including the absolute path to crystal in the settings and it didn't work

[2019-06-10 06:52] hmnd opened #93 "scry crashing"
After adding the path to scry, the extension keeps repeatedly crashing with the error below. Any thoughts?

![Console output from crash](https://i.hmnd.io/MNkdYZhM.png)

[2019-06-10 21:56] dprobinson commented on #63
I'm having the same problem too. VSCode 1.34 with Crystal 0.28.0 (installed from Arch repos at /usr/bin/crystal). I've also tried changing the path in the settings to no avail.

[2019-06-10 22:29] watzon commented on #63
@faustinoaq seems like this needs to be reopened.

[2019-06-17 20:11] minkir014 commented on #42
But as I see now that issue is fixed by a PR. Can you support that now??

[2019-06-22 12:25] fabon-f commented on #63
@faustinoaq  Why didn't you commit this solution(https://github.com/crystal-lang-tools/vscode-crystal-lang/issues/86#issuecomment-462048696) to master branch yet? Is there any problems?

[2019-06-22 16:52] fabon-f commented on #63
In my case, executing `crystal env` in `crystalUtils.ts`(js) caused an error like this.

Missing ENV key: "HOME" (KeyError)
  from Path::home:Path
  from Path#expand<String>:Path
  from File::expand_path<String>:String
  from Crystal::CacheDir#compute_dir:String
  from Crystal::Command#run:(Bool | Crystal::Compiler::Result | Nil)
  from main
Error: you've found a bug in the Crystal compiler. Pleas

[2019-07-04 00:56] rowland commented on #84
This one keeps biting me. It's rather unnerving.

[2019-07-22 20:24] peterschols opened #96 "Add balanced pairs highlighting"
In Atom, when selecting a line containing an `end` tag, the corresponding opening tag (e.g. `def methodname` or `if condition` is highlighted or vice versa. It would be great to have this in VS Code as well.

Currently, VS Code will select other `end` statements, which is not very useful.

[2019-09-22 14:45] bcardiff commented on #84
@faustinoaq Is there any progress in the scry server that can be published? Otherwise, it would be great to consider fixing this issue in the latest version since it's a papercut that many people with the constant-saving-file-behavior ✋will suffer.

I know little or nothing about developing vscode extensions. I'm not sure after a checkout which node/ts should be installed and how to run the workin

[2019-09-27 02:33] paulcsmith commented on #84
I just placed a $50 bounty to help out with this issue. Would love to have it fixed if we can :D

https://www.bountysource.com/issues/69775273-whole-buffer-replaced-with-syntax-error

[2019-10-01 15:09] Indribell opened #97 "Indentation"
The plugin currently is overriding the indentation set by Visual Studio Code.

Any code formatting result in a 2 spaces indentation, when the editor is set on 4. This means any file that is formatted by ctrl+alt+i, gets its indentation overridden by the plugin.

Please follow the settings indicated by the editor and do not override the choice set by the user.

[2019-10-02 13:04] denolfe commented on #97
The current implementation pipes the code into the `crystal tool format` command. It appears that custom indentation width is not supported by that command, so this would have to be entirely custom.

[2019-10-11 13:21] abulka opened #100 "beginners guide to using extension after installation"
Just starting out with crystal and the vscode extension. I am suprised that there is no documentation on how to use the extension after installing it.

Attempting to 'add a configuration' from the vscode debug panel drops down a list of language options, but crystal is not one of them.

Hitting CMD-SHIFT-P (on Mac) then selecting 'configure default build task' lists crystal items in the drop down

[2019-10-16 16:11] texpert opened #101 "Debugger not working, undefinedMI: Error"
Hello!

Thanks for the great work on this extension!

Could you, please, help with the following?!

MacOS Sierra, VS Code 1.39.1, 1.39.2, Crystal 0.31.1

Tried in vain to set some breakpoints to debug a POC program (the program is building OK) - the following error is persisting in the Debug Console:

[code]

The lldb-mi is present in the path, I've made a symlink:

[code]

The launch.json is typi

[2019-10-19 05:12] texpert commented on #101
Turns out to be a lldb-mi bug - weird Python dependency trail from lldb. Has compiled it locally, commenting the dependency, and it is running now. Though, the debugging still doesn't work, no stop at breakpoint, no output from the application.

[2019-10-19 05:12] #101 closed

[2019-10-21 07:10] girng opened #102 "Error executing Crystal plugin. spawn crystal ENOENT"
I tried `crystal.bat`, and the `shell: "bash"` change inside `crystalUtils.ts`

Both of those modifications will remove the `Error executing Crystal plugin. spawn crystal ENOENT` error, but the formatting does not happen. Not sure what else to try :O

I have https://github.com/faustinoaq/crystal-windows-installer

`crystal env` :
[code]

VSCode:
[code]

I just reinstalled Windows 10 and before thi

[2019-10-21 07:29] girng commented on #84
LOL the first time this happened, my heart dropped. I was so happy ctrl+z worked, I think I would have cried :D. But yeah, this bug actually played a vital role in me creating backups. Which in the end, is a positive thing. Happy little bugs

[2019-11-16 15:04] iambudi commented on #42
When jump to definition throws the following error:

[code]

[2019-11-23 07:48] jgillich commented on #84
@faustinoaq Thoughts on #99? Can we get this in?

[2019-11-28 10:06] jgillich commented on #84
In the meantime, I've published a fork with the fix from #99:

https://marketplace.visualstudio.com/items?itemName=jgillich.crystal-lang-fixed

[2019-12-02 09:15] ndbroadbent commented on #80
Hello, this issue is still happening for me, so I was wondering if this issue could please be re-opened?

I am using "format on save", and when my code has an error, crystal replaces the source code in the file with the error message. E.g.

[code]

I'm using:

* VS Code version: 1.40.2.
* Crystal 0.31.1 (2019-10-02)
* vscode-crystal-lang: 0.3.11

Thanks!

[2019-12-02 09:23] ndbroadbent commented on #80
I found this PR that fixes the issue: https://github.com/crystal-lang-tools/vscode-crystal-lang/pull/99

Hopefully this can be merged soon!

[2019-12-02 09:33] ndbroadbent commented on #80
Duplicate of: https://github.com/crystal-lang-tools/vscode-crystal-lang/issues/84

[2019-12-27 17:56] Nicolab opened #104 "ERR symbols is not iterable: TypeError: symbols is not iterable"
Hello,

This extension doesn't work for me.
There are several errors In the dev tools of VS code:

[code]

My config:

[code]

Ubuntu 18.04

VScode:

[code]

Any idea?

[2019-12-27 19:19] Nicolab commented on #104
I have installed https://github.com/crystal-lang-tools/scry, it works now.

Maybe it should be mentioned in the README

[2019-12-27 19:19] #104 closed

[2020-02-29 09:27] andraantariksa opened #105 "Weird syntax highlighting"
![Screenshot_2020-02-29_16-25-39](https://user-images.githubusercontent.com/9760691/75604920-51e83c00-5b10-11ea-91ad-31b8a81fe11a.png)

[2020-03-03 10:36] huuhait opened #106 "Windows WSL hover not work at all"
Hi i'm using windows and i have install crystal and scry in my wsl

but when i hover a func it showing up and close after 0.01s or faster

here is my config:
[code]

[2020-03-31 08:04] faustinoaq commented on #106
Hi @huuhai

It can be a crystal.bat error happening in the background, so it prevents the extension of working properly.

BTW The Crystal compiler doesn’t run on Windows yet. WSL (compatibility-layer) may have some issues sometimes when executing it from vscode. Currently, I'm using [Microsoft Remote](https://github.com/Microsoft/vscode-remote-release) to develop with crystal on my ubuntu server f

[2020-03-31 08:30] faustinoaq commented on #105
Hi @andraantariksa

I can confirm the weird syntax in `(two_byte << 8) | (two_byte >> 8)`

Here some captures:

Right behavior?  https://carc.in/#/r/8t1b

![image](https://user-images.githubusercontent.com/3067335/78003218-f4f1c880-72fd-11ea-9482-9df1ea26578e.png)

VSCode Default Dark+ Theme

![image](https://user-images.githubusercontent.com/3067335/78003342-1c489580-72fe-11ea-90db-96da28aecb14.p

[2020-03-31 08:37] faustinoaq commented on #84
Hi @jgillich @baelter @rowland @paulcsmith @girng @bcardiff [vscode-crystal-lang](https://github.com/crystal-lang-tools/vscode-crystal-lang/releases/tag/v0.4.0) is updated now.

I can confirm, this error doesn't happen anymore, feel free to test it and report new issues 😄

![image](https://user-images.githubusercontent.com/3067335/78005104-b6114200-7300-11ea-895b-b79fc40a0f1e.png)

![image](https:

[2020-03-31 08:52] faustinoaq commented on #42
Hi, @minkir014 @iambudi This extension uses the output provided by `crystal tool` CLI, so if the feature finds an error it's because crystal was designed that way, there is some workaround using a dynamic code analyzer based on javascript or something similar

[Scry](https://github.com/crystal-lang-tools/scry) has some nice features but is in a very experimental state yet. It also uses crystal CLI

[2020-03-31 15:45] #84 closed

[2020-03-31 17:58] huuhait commented on #106
tks u
it working good for me :D

[2020-03-31 17:58] #106 closed

[2020-04-01 12:04] andraantariksa commented on #105
The first one looks better for me. From what I see in C++ language syntax highlighting, the variable that coming from function argument will be in red color and the other variable will be in white.

VSCode One Dark Pro Theme

[![https://imgur.com/o5RJItX.png](https://imgur.com/o5RJItX.png)](https://imgur.com/o5RJItX.png)

[2020-04-02 22:58] paulcsmith commented on #42
Thanks @faustinoaq!!

[2020-04-17 01:57] MatheusRich opened #108 "Block should not add arguments by default"
Not every block has args, but the `do` shortcut always adds them. This is specially cumbersome when creating specs.

I suggest that the `do` shortcut just add a basic block. For blocks with args, we could use `dop` (as the ruby vscode extension does).

I can provide a PR if this is ok.

[2020-04-17 23:29] faustinoaq commented on #108
Hi @MatheusRich  Great idea 👍

[2020-04-18 02:29] iambudi opened #110 "Prevent focus stealing when there' scry error"
Is it possible to disable **focus stealing** to the Output Tab when scry throws errors in VSCode panel?
It's quite annoying 😉. I tried to hide the the Tab Output but it always come back.
Thanks.

<img width="667" alt="image" src="https://user-images.githubusercontent.com/31809529/79625979-e8bb9700-8156-11ea-943b-f3b9ad42c479.png">

[2020-04-18 14:20] faustinoaq commented on #110
@iambudi Thank you for reporting this issue!

I think we can adjust the log handler to be more silent

Did you download a scry executable [here](https://github.com/crystal-lang-tools/scry/releases)? or Did you compile it by yourself?

[2020-04-18 15:08] iambudi commented on #110
@faustinoaq I compiled by myself. Thanks.

[2020-04-18 16:44] lbarasti opened #111 "Task launch gets stuck on "Fetching build task""
if I update the VS extension to the latest version (0.4.0), and launch a task - e.g. a crystal run task - the task won't start, and the loading spinner for "Fetching build task" will keep on... spinning.
I'm on VS 1.44.2 running on Ubuntu 19.10

![image](https://user-images.githubusercontent.com/782103/79643597-a8cad300-819b-11ea-8abf-7045940163a3.png)

Running tasks without any vscode-crystal ext

[2020-04-18 20:10] faustinoaq commented on #111
Hi @lbarasti Thank you for reporting this issue!

I'm already trying to fix it :)

[2020-04-18 20:40] MatheusRich opened #112 "Wrong syntax highlighting on ECR"
A weird one on ECR:
![image](https://user-images.githubusercontent.com/20938712/79670690-4a9df000-819b-11ea-85f1-d7c2d39bb036.png)

Using the ERB highlighting:
![image](https://user-images.githubusercontent.com/20938712/79670725-7325ea00-819b-11ea-99f4-71d6a91e7098.png)

I'm using the One Dark PRO theme

[2020-05-02 05:32] grioja commented on #111
Also running into this problem!

[2020-05-03 16:02] rishavs opened #113 "Supporting Windows for Crystal VS Code extensions"
With the basic windows compiler done for Crystal, we should now look at actually being able to use the language on that platform. Right now, the VS Code extension doesn't provides meaningful autocomplete and error handling which are probably the 2 most important IDE features.

I understand that there is still a lot of work left to make Crystal windows-native, but maybe we can list down the pieces

[2020-05-13 09:43] vypxl commented on #111
Any updates on this? It seems like this only happens when the visible editor is a crystal-related file.

[2020-05-14 14:00] bcardiff opened #114 "Non ascii chars might be lost after formatting"
Even if the formatter returns no changes.

One of the examples I have is in https://github.com/crystal-lang/crystal/blob/b977a952e142efe5ee63e65e7820eec2b55a0c07/spec/std/io/io_spec.cr#L622

Extension version 0.4.0

[code]

How does it looks?

![CMIgznz7l7](https://user-images.githubusercontent.com/459923/81943639-0521e680-95d2-11ea-97d4-aed2e215b348.gif)

[2020-05-23 16:13] grioja commented on #111
Can we at least pull `0.4.0` from the official releases until this is fixed? It keeps auto-upgrading to this version that has this broken behavior.

[2020-05-28 06:24] #108 closed

[2020-06-19 13:21] pavestru commented on #74
I am having the same issue right now (macOS 10.14.6)

[2020-06-19 13:51] pavestru commented on #74
Also tested scry (followed [installation instructions](https://github.com/crystal-lang-tools/scry/#installation)). Having this one line in main.cr
[code]
scry gave me this error
[code]

[2020-06-19 13:53] pavestru commented on #74
Related: https://github.com/crystal-lang-tools/scry/issues/173

[2020-07-03 08:38] Austaras opened #116 "error when "crystal-lang.problems": "build""
when turn on this option it shows `can't find file 'prelude' ` in every file

[2020-07-06 13:24] baelter commented on #116
Duplicate: https://github.com/crystal-lang-tools/vscode-crystal-lang/issues/74

[2020-07-06 13:31] #116 closed

[2020-07-06 13:47] baelter commented on #74
Fixed by https://github.com/crystal-lang-tools/vscode-crystal-lang/commit/f3667c88203bcc4b79145dc5fc50f1434d47a2a0

[2020-07-12 09:23] zhenfeng-zhu opened #117 "[help]"Users/lucas/.cache/crysta" was created in my workspace, how to fix it?"
https://marketplace.visualstudio.com/items?itemName=faustinoaq.crystal-lang

![image](https://user-images.githubusercontent.com/6822558/87242944-fafe5600-c463-11ea-8510-87e25533ce92.png)

and the error is:
[code]

[2020-07-16 19:38] xmonader opened #119 "can't install: faustinoaq.gallery.vsassets.io not found"
[code]

[2020-07-16 20:02] xmonader commented on #119
got fixed after changing my dns to 8.8.8.8

[2020-07-16 20:02] #119 closed

[2020-07-28 17:10] pyritewolf commented on #114
For more context, this happens when **Format on Save** is enabled in VSCode's user configs, even if the plugin's features are all disabled
<img width="777" alt="Screen Shot 2020-07-28 at 14 09 44" src="https://user-images.githubusercontent.com/11891611/88698116-ff6d7480-d0db-11ea-8f10-a62b36d41487.png">

[2020-08-05 14:17] RockManJoe64 commented on #84
Will this fix make it into the main fork of the Crystal plugin?

[2020-08-05 14:24] bcardiff commented on #84
@RockManJoe64 this fix is available in 0.4.0 released under https://marketplace.visualstudio.com/items?itemName=faustinoaq.crystal-lang

[2020-08-09 15:45] Kusken commented on #74
I'm having this issue on debian-buster, ubuntu and when using [crystal-docker-image](https://hub.docker.com/r/crystallang/crystal).

I can see that the issue is solved by [f3667c8](https://github.com/crystal-lang-tools/vscode-crystal-lang/commit/f3667c88203bcc4b79145dc5fc50f1434d47a2a0), I actually cloned master and built the extension and it works fine.

I'm just wondering why it hasn't been publ

[2020-08-15 15:27] ilhamdev0 opened #120 "Adding extension to VSCodium"
When using VSCodium (fork of VSCode) unfortunately I couldn't find this extension in their marketplace so there is no support for crystal lang. is there a plan adding to their marketplace too? That would be great.

[2020-08-18 14:52] pyritewolf commented on #120
Some more information I gathered with my coworkers: in VSCodium 1.45 the extension was visible, but in later versions (last we tried, 1.47.2) was not available. I think something changed as to what VSCode extensions are displayed on the VSCodium extension browser. It would be cool for the plugin to be displayed!

fwiw the extension itself can still be downloaded from the VSCode marketplace and ins

[2020-08-19 02:07] ilhamdev0 commented on #120
thank u :+1:

[2020-08-19 02:07] #120 closed

[2020-09-03 13:05] baelter opened #122 "Max processes not respected"
Have max processes set to 3 but `crystal tool context` got launched ~20 times.

[2020-09-17 09:16] kingsleyh opened #123 "Compiler warning parsed in output"
When Scry is used it looks like it's parsing the Warning message from the compiler and then cannot continue. I didn't find a way to suppress that warning when building.

[code]

[2020-09-17 09:22] maxbertinetti commented on #123
I'm not sure if the problem is related to the VSCode plugin or scry. I have a look at this on the week end.

[2020-09-30 11:22] maxbertinetti commented on #123
@kingsleyh have you tried [Cristalline](https://github.com/elbywan/crystalline) instead of Scry

[2020-09-30 11:24] kingsleyh commented on #123
oh I never heard of it lol - is Scry dead then?

[2020-09-30 11:24] #123 closed

[2020-09-30 11:24] #32 closed

[2020-09-30 11:25] #34 closed

[2020-09-30 11:25] #58 closed

[2020-09-30 11:25] #63 closed

[2020-09-30 11:27] maxbertinetti commented on #93
This can be scry problem. Have you tried [Crystalline](https://github.com/elbywan/crystalline) instead?

[2020-09-30 11:29] maxbertinetti commented on #97
I soon start to analyze any enhancements request.

[2020-09-30 11:31] maxbertinetti commented on #91
@dkniffin have you tried the last vesion of the [plugin](https://marketplace.visualstudio.com/items?itemName=crystal-lang-tools.crystal-lang)?

[2020-09-30 11:38] maxbertinetti commented on #123
I don't find none of the contributor active looking at it. Instead the Crystalline project is working, active and very promising!

[2020-10-06 15:28] dkniffin commented on #91
@maxbertinetti Nope. I haven't worked with Crystal in a long time :/

[2020-10-11 23:23] ajith-joseph opened #127 "Code Helper process showing 200-300% CPU usage on MacOS"
I have setup the vscode extension (v 0.6.1) with crystalline language server on my Mac (v 10.13.6).
CPU is running hot. I use other lang extensions like Golang where I don't see this issue.
![image](https://user-images.githubusercontent.com/8683507/95692682-5adbd880-0bdc-11eb-91b9-afb2d2206392.png)

[2020-10-12 15:35] maxbertinetti commented on #127
This is a Crystalline issue more then a VSCode plugin issue.

[2020-10-12 15:35] #127 closed

[2020-10-19 05:47] redcodefinal opened #128 "Improper Syntax Highlighting when using `%Q` and string interpolation"
![fixthispls](https://user-images.githubusercontent.com/1298501/96406182-bc2f1900-1193-11eb-88b2-abee1f700e53.png)

Syntax highlighting does not properly handle `%Q` and string interpolation using `#{}` as in the example pic.

[2020-10-19 11:27] redcodefinal commented on #112
My issue may be related #128

[2020-10-19 16:37] #128 closed

[2020-10-19 16:55] elbywan commented on #127
For the record, I doubt that crystalline is the culprit. See: https://github.com/microsoft/vscode/issues/108441

[2020-10-19 17:04] maxbertinetti commented on #127
Sorry, what I mean is that is not something that can be caused by this plugin since is not hungry in resources, better to know that the problem is neither in Crystalline too.

[2020-10-19 17:09] elbywan commented on #127
No worries 😄 ! I just wanted to post a link to the solution just in case people stumble upon this issue in the future.

[2020-10-19 18:50] redcodefinal commented on #112
@asterite confirmed fixed my issue #128 with #129 , but it didn't fix this issue. I can confirm it is still present.

[2020-10-19 18:59] asterite commented on #112
Of course, it doesn't seem to be related to string interpolation :-)

I'll see if I can see what's going on...

[2020-10-19 19:00] asterite commented on #112
It would have been helpful to have the textual thing, not an image... oh well...

[2020-10-19 19:11] asterite commented on #112
I won't fix it but your best bet is to copy this one from Ruby and adapt it to Crystal: https://github.com/rubyide/vscode-ruby/blob/master/packages/vscode-ruby/syntaxes/erb.cson.json

[2020-10-28 13:28] MatheusRich commented on #112
Another one: `%w` is not interpreted as string.

Crystal:
![image](https://user-images.githubusercontent.com/20938712/97442022-266c5a00-1908-11eb-9b1b-a6e3d7a3481b.png)

Ruby:
![image](https://user-images.githubusercontent.com/20938712/97442045-2c623b00-1908-11eb-9b9e-3d0d19b44974.png)

Here's the code:
[code]

[2020-10-28 15:04] asterite commented on #112
Thank you! But these are all different bugs, I would open separate issues for them.

[2020-10-28 15:21] MatheusRich commented on #112
@asterite I thought it would make sense to keep this Highlight issues together, but I'll open another issue. Thanks!

[2020-10-28 15:22] MatheusRich opened #130 "%w is not interpreted as string."
Crystal:
![image](https://user-images.githubusercontent.com/20938712/97442022-266c5a00-1908-11eb-9b1b-a6e3d7a3481b.png)

Ruby:
![image](https://user-images.githubusercontent.com/20938712/97442045-2c623b00-1908-11eb-9b9e-3d0d19b44974.png)

Here's the code:
[code]

[2020-11-08 23:14] GeopJr opened #131 "Publish to open-vsx"
Hi, would it be possible for the extension to get published on [OpenVsx](https://open-vsx.org/)?
OpenVsx is an alternative marketplace used by [VSCodium](https://vscodium.com/).

Instructions can be found [here](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions#how-to-publish-an-extension).

Similar issue: https://github.com/crystal-lang-tools/vscode-crystal-lang/issues/120

Currently

[2020-11-09 06:41] maxbertinetti commented on #131
It's doable.
I think I can do it in the next days and finally automating the deploy with Github action for all two Marketplaces.

[2020-11-15 07:46] maxbertinetti commented on #131
@GeopJr I decided to wait until 9th December, read [here](https://blogs.eclipse.org/post/brian-king/open-vsx-registry-under-new-management)

@bcardiff I think you have to register as Organization there like for VS Marketplace.

[2020-11-16 14:38] bcardiff commented on #131
Publisher claimed at https://github.com/eclipse/open-vsx.org/issues/217

[2020-11-17 13:41] bcardiff commented on #131
I've just manually published 0.6.2 in https://open-vsx.org/extension/crystal-lang-tools/crystal-lang

@maxbertinetti I leave a OPEN_VSX_TOKEN secret in this repo configured to automate the publishing.

If you create a user in open-vsx I can add you to the crystal-lang-tools namespace there.

[2020-11-19 03:21] MatheusRich opened #133 "Wrong syntax highlighting when symbol name is equal to a keyword"
![image](https://user-images.githubusercontent.com/20938712/99617012-21796280-29fd-11eb-9a23-cb60e3563dfa.png)

Code:

[code]

[2020-11-19 08:45] maxbertinetti commented on #131
@bcardiff I created a user with my Github Account.
This week end I start building the Github Action to automate the deploy on the two Marketplace on a new release on master

[2020-11-19 08:45] #131 closed

[2020-11-19 13:08] bcardiff commented on #131
Cool. I've just added you to the open-vsx publisher

[2020-11-21 07:22] maxbertinetti commented on #131
@bcardiff please I need a token also for VS Code Marketplace (VS_MARKETPLACE_TOKEN) so that I can deploy automatically also there when ready

[2020-11-21 07:39] maxbertinetti commented on #117
That pluging is no more updated. You can find the official [here](https://marketplace.visualstudio.com/items?itemName=crystal-lang-tools.crystal-lang).

Please remove the old one and install this. Then please report if the issue is resolved.

[2020-11-21 07:43] maxbertinetti commented on #114
On version 0.6.2 is not happen anymore.

I close the issue.

![image](https://user-images.githubusercontent.com/26814295/99870703-8ab3ce00-2bd5-11eb-890c-f9dd7fd41fac.png)
(Afer Save with Format on Save enabled)

[2020-11-21 07:43] #114 closed

[2020-11-21 07:49] maxbertinetti commented on #113
Hi @rishavs.

I don't have (and don't want to use) Windows.

Please try last plugin version with [crystalline](https://github.com/elbywan/crystalline) and report any problems.

If it is possible for you, compare with Linux or Mac behaviour.
If they behave differently we can make a plan to pair the versions.

[2020-11-21 07:52] maxbertinetti commented on #112
@MatheusRich can you please provide a sample file to see the situation about this ticket?

[2020-11-21 07:55] maxbertinetti commented on #24
No more rilevant since work on Scy is on halt.

[2020-11-21 07:55] #24 closed

[2020-11-21 07:59] maxbertinetti commented on #100
I'll see what is still valid and add to the docs for v1.0.0

[2020-11-21 08:02] maxbertinetti commented on #97
I think it's best, as in other languages, to follow a rule about indentation for making code from different source homogeneus

[2020-11-21 08:02] #97 closed

[2020-11-29 00:18] zhenfeng-zhu commented on #117
thank you

[2020-11-29 20:45] MatheusRich commented on #112
@maxbertinetti Just type `%w[some WORDS in HERE]` and you got it.

[2020-11-29 20:48] MatheusRich commented on #112
@maxbertinetti here it is:

[code]

[2020-11-30 06:43] #117 closed

[2020-12-02 07:11] #93 closed

[2021-01-02 01:29] grantspeelman commented on #133
not sure if this is related as well

![Screenshot_20210102_122828](https://user-images.githubusercontent.com/98919/103449025-13a24700-4cf6-11eb-8ef2-80cf84a6c467.png)

[2021-02-27 14:30] maxbertinetti commented on #133
![carbon(1)](https://user-images.githubusercontent.com/26814295/109390181-59534880-7910-11eb-95c8-2827c5b1214b.png)

![carbon](https://user-images.githubusercontent.com/26814295/109390190-640ddd80-7910-11eb-8ea7-d88719c7be82.png)

This is some syntax highlighting coming from carbon.sh.
Can you confirm @MatheusRich  @grantspeelman that is the desired behaviour?

I'm studying the grammar it uses for

[2021-02-27 20:31] grantspeelman commented on #133
That looks Good to me 👍🏽

[2021-03-07 17:01] #133 closed

[2021-03-31 10:13] Syzygies opened #139 "How to disable "crystal" task provider?"
For my Crystal VSCode projects, as for all of my projects, I have a default build task configured in my `.vscode/tasks.json` file. VSCode recognizes this default build task, for example when I inspect the `Configure Default Build Task...` command.

Nevertheless, when I invoke the `Run Build Task...` command, I get the error

According to VSCode documentation, it is the responsibility of task provi

[2021-03-31 10:18] Syzygies commented on #139
Yes, typo, fixed. Coming from Ruby. I experience this issue with `.cr` files.

[2021-03-31 10:21] maxbertinetti commented on #139
Can please provide a link to the repo of the project where you are experimenting that problem and your vscode config, or compile the template for the bug report?

[2021-03-31 10:29] Syzygies commented on #139
The "bug report" is that I cannot find the documentation on disabling the Crystal task provider. I experienced the above behavior in every VSCode workspace: Take your favorite non-Crystal project, add `hello_word.cr` to that project, invoke `Run Build Task...` once on that file, then return to usual work in that workspace. I **always** continue to get the reported error. If this is not reproducibl

[2021-03-31 10:34] maxbertinetti commented on #139
I'll verify in the w.e.
I never used the Build Task on VS Code

[2021-04-01 09:54] Syzygies commented on #139
I'm not sure whether you mean by this that you personally don't use the Build Task mechanism in your own projects, or that you're unaware of having programmed anything that would cause `crystal-lang-tools` to automatically entangle itself in the Build Task mechanism.

If it's the latter, I can confirm that `crystal-lang-tools` automatically entangles itself in the Build Task mechanism. I don't und

[2021-04-01 10:13] maxbertinetti commented on #139
@Syzygies, I'm not the original writer of this plugin and I don't use VS Code Build Task in general.
As I say I will check the problem ASAP.

[2021-04-01 10:15] maxbertinetti commented on #139
In the meantime you can find here how the plugin is configured:

https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/src/crystalTasks.ts

[2021-04-01 10:33] maxbertinetti commented on #139
@Syzygies , sorry if I tell you this, but it seems to me that the way of expressing yourself is not very respectful of those who took over the management of this plugin (and of the entire organization) because for almost a year no one cared about it, for free and in it's own free time for passion alone. I replied as quickly as possible and as this is something I had not yet seen I promised to take

[2021-04-01 15:46] maxbertinetti commented on #139
@Syzygies Since you don't share your task.json file or other configuration, I just try to reproduce with a new project:

[code]

Inside code I used _Terminal > Run Build Task_ (or cmd + shift + b)
Not having a command configured it offer the list of preconfigured tasks and I select **Crystal:run**
![image](https://user-images.githubusercontent.com/26814295/113317757-fa6a6000-930f-11eb-8f0e-21559b2

[2021-04-01 15:46] #139 closed

[2021-04-14 07:01] tuxaanand opened #142 "macOS BigSur - .cache directory is getting created under the project directory"
**Describe the bug**
The cache files produced for the sources scanned are getting created under the project directory - {project}/Users/{user}/.cache/crysta on macOS BigSur

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project folder with crystal sources
2. A folder called 'Users' with the cache directory structure within that

**Expected behavior**
The cache directory should be cre

[2021-04-14 07:24] maxbertinetti commented on #142
@tuxaanand I need some further info

- Are you using an Intel machine?
- The project was created with crystal init...?
- VS Code version?

[2021-04-14 07:34] maxbertinetti commented on #142
I cannot reproduce the bug.

![image](https://user-images.githubusercontent.com/26814295/114670768-a8f4a480-9d03-11eb-9599-81efc90ec168.png)
![image](https://user-images.githubusercontent.com/26814295/114670824-b447d000-9d03-11eb-9abf-d26efa8599cd.png)
![image](https://user-images.githubusercontent.com/26814295/114670889-c295ec00-9d03-11eb-9f45-28380983697f.png)
![image](https://user-images.github

[2021-04-14 07:34] #142 closed

[2021-04-14 07:36] maxbertinetti commented on #130
Closed in [v0.8.2](https://github.com/crystal-lang-tools/vscode-crystal-lang/releases/tag/v0.8.2)

![image](https://user-images.githubusercontent.com/26814295/114671858-d7bf4a80-9d04-11eb-895f-7429d0960c72.png)

[2021-04-14 07:36] #130 closed

[2021-04-14 07:37] maxbertinetti commented on #113
Close because missing informations

[2021-04-14 07:37] #113 closed

[2021-04-14 07:47] maxbertinetti commented on #112
I think is not correct the way you are trying to render this. You must use single quote outside and double inside.

BTW in [v0.8.2](https://github.com/crystal-lang-tools/vscode-crystal-lang/releases/tag/v0.8.2)

![image](https://user-images.githubusercontent.com/26814295/114673235-42bd5100-9d06-11eb-9d68-bc318201ae7d.png)

[2021-04-14 07:47] #112 closed

[2021-04-14 07:48] #91 closed

[2021-04-14 07:52] #105 closed

[2021-04-14 07:52] #79 closed

[2021-05-28 12:13] pyrsmk opened #143 "Syntax checking does not work in WSL 2"
**Describe the bug**

The syntax checker does not worker under WSL 2. If we write some invalid code and then save, nothing happens. After some debugging, I found where the issue was located : https://github.com/crystal-lang-tools/vscode-crystal-lang/blob/master/src/crystalUtils.ts#L78

In WSL 2, for my case, `document` was `/mnt///me/my_user/some_dir/some_file.cr` instead of `/home/my_user/some_di

[2021-07-21 12:46] vulpivia opened #147 "Regex special character escaping is ignored by syntax highlighter"
Escaped special regular expression characters are still recognized as special characters, which ends up in incorrect syntax highlighting.

Example:

[code]

 - OS: Manjaro Linux
 - Crystal version: v1.0.0
 - This plugin version: v0.8.2

[2021-08-10 08:36] Alexey-T opened #148 "Support for Crystal syntax in CudaText editor"
http://synwrite.sourceforge.net/forums/viewtopic.php?f=4&t=2719
To install the lexer: menu "Plugins / Addons Manager / Install", find 'Crystal'.

File is here
https://sourceforge.net/projects/cudatext/files/addons/lexers/

[2021-10-05 16:25] HertzDevil opened #149 "Heredoc syntax highlighting is incorrect"
* Everything after the heredoc start delimiter is not highlighted. Those characters are never part of the heredoc, so they should receive regular highlighting.
* If there are multiple heredocs created on the same line, only the first end delimiter is highlighted and subsequent heredocs are highlighted as if they are regular code.

![Screenshot_20211006_002204](https://user-images.githubusercontent

[2022-04-29 17:15] divmgl opened #152 "Type and method introspection not working"
So I've defined an argument of type `String` in my function:

[code]

But when I go to use the `name` variable, I get these class `Object` methods available to me:

<img width="419" alt="Screen Shot 2022-04-29 at 1 13 26 PM" src="https://user-images.githubusercontent.com/5452298/165991711-b3b83bd3-ae85-4a09-af85-c9ca72303f8f.png">

What's also weird is that when I go to use one of these methods, I

[2022-08-29 07:34] HOMODELUNA opened #153 "error requiring "prelude" on windows"
# error requiring "prelude" on windows
It goes out every time in a crystal file, blocking sequencial analysis
[code]
Here is my version and environment
[code]

**Screenshot
![error](https://user-images.githubusercontent.com/72009635/187148451-cfd8da18-4666-43ea-9961-2d026aad253c.png)
s**